<header class="fixed-top">
    <div class="main-header">
        <div class="main-logo-part text-left">
            <span>
                <a href="https://www.mohfw.gov.in/" target="_blank">
                    <img src="assets/images/emblem-gov.svg" alt="ind-saarnath-sthup" class="main-logo" />
                </a>

            </span>
            <span class="main-title">
                <a href="https://www.mohfw.gov.in/" target="_blank">
                    Ministry of Health and Family Welfare
                </a>
            </span>
        </div>
        <div class="main-header__right  text-right d-flex align-items-center">
            <ul>
                <li>
                    <div class="font-control">
                        A+
                    </div>
                </li>
                <li>
                    <div class="font-control">
                        A
                    </div>
                </li>
                <li>
                    <div class="font-control">
                        A-
                    </div>
                </li>
            </ul>
            <select class="form-select ms-3">
                <option selected>
                    English
                </option>
                <option>
                    हिंदी(Hindi)
                </option>
            </select>
        </div>
    </div>
    <div class="bottom-header d-flex justify-content-between align-items-center">
        <div>
            <img src="../../assets/images/new-logo.svg" alt="cowin" />
        </div>
        <div>
            <a href="https://verify.cowin.gov.in/" target="_blank">VERIFY CERTIFICATE</a>
            <a href="https://cowin.gov.in/faq" target="_blank">FAQS</a>
        </div>
    </div>
</header>