<header>
    <div class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="main-logo-part text-left">
                        <span>
                            <a href="https://www.mohfw.gov.in/" target="_blank">
                                <img src="assets/images/emblem-gov.svg" alt="ind-saarnath-sthup" class="main-logo" />
                            </a>

                        </span>
                        <span class="main-title">
                            <a href="https://www.mohfw.gov.in/" target="_blank">
                                Ministry of Health and Family Welfare
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="main-header__right ml-auto text-right">
                        <ul>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>