.main-header {
    background-color: #045d5d;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding: 0px 30px;

}

.main-logo-part {
    float: left;
    color: #000;
    font-weight: 400;
    display: inline-flex;
    height: 100%;
    align-items: center;
}

.main-title {
    display: block;
    font-size: 12px;
    width: 67%;
}

.main-title a {
    color: #fff;
    text-decoration: none;
}

.main-logo {
    float: left;
    height: auto;
    width: 20px;
    margin-top: 0;
    margin-right: 8px;
}

.main-header ul {
    margin-top: 16px;
    padding-right: 25px;
    /* width: 50%; */
    display: inline-flex;
    list-style-type: none;
}

.font-control {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    margin-right: 15px;
}

.bottom-header {
    position: relative;
    width: 100%;
    /* z-index: 10; */
    background: #017e7e !important;
    padding: 10px 30px;
}

.bottom-header a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 400;
}

.fixed-top {
    z-index: 100;
}