<div class="white-wrapper">
    <h5 class="wrapper-head">Vaccination Trends</h5>
    <div class="d-flex justify-content-between">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input (click)="onChangeDoseAndAge($event)" type="radio" class="btn-check" name="btnradio" id="btnradio1"
                autocomplete="off" checked value="dose">
            <label class="btn btn-outline-primary" for="btnradio1">By Doses</label>

            <input (click)="onChangeDoseAndAge($event)" type="radio" class="btn-check" name="btnradio" id="btnradio2"
                autocomplete="off" value="age">
            <label class="btn btn-outline-primary" for="btnradio2">By Age</label>
        </div>

        <div class="btn-group" role="group" aria-label="day wise">
            <input (click)="onChangeDuration($event)" type="radio" class="btn-check" name="daywise" id="btnradio3"
                autocomplete="off" checked value="today">
            <label class="btn btn-outline-primary" for="btnradio3">Today</label>

            <input (click)="onChangeDuration($event)" type="radio" class="btn-check" name="daywise" id="btnradio4"
                autocomplete="off" value="last 30">
            <label class="btn btn-outline-primary" for="btnradio4">Last 30 Days</label>

            <input (click)="onChangeDuration($event)" type="radio" class="btn-check" name="daywise" id="btnradio5"
                autocomplete="off" value="all">
            <label class="btn btn-outline-primary" for="btnradio5">All</label>
        </div>
    </div>
    <div class="line-chart">
        <div *ngIf='chart'>
            <canvas baseChart chartType="line" [datasets]="yearChart.data.datasets" [labels]="yearChart.data.labels"
                [options]="yearChart.options" height="100px"></canvas>
        </div>

    </div>
</div>