<div [class]="topCardDetails.cardColor">
    <div class="row">
        <div class="col-4">
            <div class="icon-box">
                <span [class]="topCardDetails.styleClass"></span>
            </div>
        </div>
        <div class="col-8">
            <div class="counter-update">
                <h3>
                    <span class="top-card-title">{{topCardDetails.cardTitle}}</span>
                    <span class="today-box">Today</span>
                </h3>
                <span class="mobile-count">{{topCardDetails.count}}</span>
            </div>
        </div>
    </div>
</div>