.white-wrapper {
    background-color: #fff;
    padding: 20px 15px 0;
}

.content-wrapper {
    padding: 20px 15px 0;
    background: #fff;
    height: 100%;
    background: #f4f6f9;
}

.small-box {
    display: flex;
    min-height: 100%;
    align-items: center;
    padding: 0 0 0 20px;
    position: relative;
    box-shadow: 0 4px 9px rgba(218, 218, 241, .49);
    border-radius: 10px !important;
    text-align: center;
    background: #fff;
}

.icon-cirlce {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #d0fff1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -35px;
    left: 0;
    right: 0;
    margin: auto;
}

.small-box .inner {
    width: 100%;
    padding-top: 55px;
    padding: 10px;
    padding-top: 55px;
}

.inner p {
    margin-bottom: 0 !important;
    word-wrap: break-word;
    color: #787878;
    /* font-weight: 400; */
    font-size: 14px;
    margin-top: -5px;
}

.inner span {
    color: #787878;
}

.inner small {
    color: #6c757d !important;
}

.inner h3 {
    color: #15124a;
    font-weight: 600 !important;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 15px;
}



.total-vaccincation-doses {
    background: url('../assets/images/total-vaccination-doses-icon.svg') no-repeat 50%;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: auto;
    background-size: 100%;
}

.site-conducting-vaccination-icon {
    background: url('../assets/images/site-conducting-vaccination-icon.svg') no-repeat 50%;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: auto;
    background-size: 100%;
}

.total-registrations-icon {
    background: url('../assets/images/total-registrations-icon.svg') no-repeat 50%;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: auto;
    background-size: 100%;
}

.counter-text {
    padding: 15px 24px;
    position: relative;
    background: #e0f2f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter-text p {
    font-size: 12px;
}

.last-updated-text {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
}

.floating-filter {
    position: fixed;
    right: 0;
    top: 270px;
    z-index: 99;
}

.floating-filter__container {
    align-items: center;
    background-color: #045d5d;
    border: none;
    border-bottom-left-radius: 38px;
    border-top-left-radius: 38px;
    box-shadow: 0 10px 10px -10px #333;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 51px;
    justify-content: center;
    position: relative;
    width: 110px;
    z-index: 3;
}

.dropdown-btns {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.state-filter {
    border-right: 2px solid #fff;
    padding-right: 5px;
}

.export-filter {
    padding-left: 5px;
}

.dropdown-btns .dropdown-toggle::after {
    border: none;
}