<app-header></app-header>
<div *ngIf="loading">
    <app-loader></app-loader>
</div>
<div class="" style="background: #fff;padding:20px 15px;">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let cardData of topBlockData" class="col-12 col-md-3 mb-3">
                <app-top-block-card [topCardDetails]="cardData"></app-top-block-card>
            </div>
        </div>

    </div>
</div>
<div *ngIf="totalVaccinationDoses">
    <div class="content-wrapper">
        <div class="container-fluid" style="margin-top: 70px;">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="small-box">
                        <div class="icon-cirlce">
                            <span class="total-vaccincation-doses"></span>
                        </div>
                        <div class="inner">
                            <p class="fw-bold">Total Vaccination Doses</p>
                            <h3>{{totalVaccinationDoses.totalDoses}}</h3>
                            <div class="row">
                                <div class="col text-left">
                                    <div>
                                        <small>Dose 1</small>
                                    </div>
                                    <span class="d--block mb-0 fw-bold sm-txt">1,02,74,13,535</span>
                                </div>
                                <div class="col text-left">
                                    <div>
                                        <small>Dose 2</small>
                                    </div>
                                    <span class="d--block mb-0 fw-bold sm-txt">1,02,74,13,535</span>
                                </div>
                                <div class="col text-left">
                                    <div>
                                        <small>Dose 3</small>
                                    </div>
                                    <span class="d--block mb-0 fw-bold sm-txt">1,02,74,13,535</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="small-box">
                        <div class="icon-cirlce">
                            <span class="site-conducting-vaccination-icon"></span>
                        </div>
                        <div class="inner">
                            <p class="fw-bold">Sites Conducting Vaccination </p>
                            <h3>{{sites.total}}</h3>
                            <div class="row">
                                <div class="col text-left">
                                    <div>
                                        <small>Governament</small>
                                    </div>
                                    <span class="d--block mb-0 fw-bold sm-txt">{{sites.govt}}</span>
                                </div>
                                <div class="col text-left">
                                    <div>
                                        <small>Private</small>
                                    </div>
                                    <span class="d--block mb-0 fw-bold sm-txt">{{sites.pvt}}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="small-box">
                        <div class="icon-cirlce">
                            <span class="total-registrations-icon"></span>
                        </div>
                        <div class="inner">
                            <p class="fw-bold">Total Registrations</p>
                            <h3>{{totalRegistrations.total}}</h3>
                            <div class="row">
                                <div class="col text-left">
                                    <div>
                                        <small>Age 12-14</small>
                                    </div>
                                    <span
                                        class="d--block mb-0 fw-bold sm-txt">{{totalRegistrations.ageTwelveToFourteen}}</span>
                                </div>
                                <div class="col text-left">
                                    <div>
                                        <small>Age 15-17</small>
                                    </div>
                                    <span
                                        class="d--block mb-0 fw-bold sm-txt">{{totalRegistrations.ageFifteenToSeventeen}}</span>
                                </div>
                                <div class="col text-left">
                                    <div>
                                        <small>Age 18-44</small>
                                    </div>
                                    <span
                                        class="d--block mb-0 fw-bold sm-txt">{{totalRegistrations.ageEighteenToFortyFive}}</span>
                                </div>
                                <div class="col text-left">
                                    <div>
                                        <small>Age 45+</small>
                                    </div>
                                    <span
                                        class="d--block mb-0 fw-bold sm-txt">{{totalRegistrations.ageFortyFiveAbove}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- graph Details -->
                <div class="col-12">
                    <app-vaccination-trends></app-vaccination-trends>
                </div>
                <!-- pie-charts details -->
                <div class="col-4">
                    <app-vaccination-by-age></app-vaccination-by-age>
                </div>
                <div class="col-4">
                    <app-vaccination-by-type></app-vaccination-by-type>
                </div>
                <div class="col-12">
                    <iframe src="https://www.youtube.com/watch?v=tOo9c6SK_do" width="600" height="400"></iframe>

                </div>
            </div>
        </div>
    </div>
</div>